body {
    margin: 0;
    background-color: #fff;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.intro{
    width: 100%;
    height: 15vh;
    min-height: 2cm;
    background: url("../images/banner-violet_2.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.header
{
    widows: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_logo {
    font-size: 30px;
    font-weight: 700;
    color: #6f78c7;
}

.header_inner {
    display: flex;
    justify-content: space-between;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    font-size: 20px;
    color: black;
    text-decoration: none;
    transition: color .2s linear;
}

.nav_link:hover {
    color: goldenrod;
}


/* плитка*/
.product-wrapper {
	display: block;
	width: 100%;
	float: left;
    transition: width .2s;

}


.product {
	display: block;
	border: 1px solid #b5e9a7;
	border-radius: 3px;
	position: relative;
	background: #fff;
	margin: 30px 20px 20px 20px;
	text-decoration: none;
	color: #474747;
	z-index: 0;
    /*height: 300px;*/

}


.product-photo {
	position: relative;
	padding-bottom: 100%;
	overflow: hidden;
}

/*images*/
.product-photo img {

    display: block;
	border: 1px solid #b5e9a7;
	border-radius: 3px;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
    right: 0;
    width:100%;
    height:100%;

    margin: auto;
	transition: transform .4s ease-out;
}


.product:hover .product-photo img {
	transform: scale(1.05);
}


/*buttons*/

.product-photo .btn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.product-photo .btn:hover {
  background-color: green;
}


/* delivery input stack*/

div.page-container {
    max-width: 98%;
    min-width: 200px;
    margin: 0; /*auto;*/
    padding: 0;
}


.page-container-inner {
	display: block;
    width: 100%;
	float: left;
    transition: width .2s;
}


.triple-page-container-inner {
	display: block;
    width: 33.3%;
	float: left;
    transition: width .2s;
}

.twin-page-container-inner {
	display: block;
    width: 50%;
	float: left;
    transition: width .2s;
}

.container-input {

    display: block;
	/*border: 1px solid #b5e9a7;*/
	border-radius: 3px;
	position: relative;
	background: #fff;
	margin: 10px 10px 10px 10px;
	text-decoration: none;
	color: #474747;
    z-index: 0;
    min-height: 60px;
 
}

.container-input input {

    display: block;
    min-height: 30px;

    overflow: hidden;
    
    top: 50%;
    left: 0%;
    position: absolute;
	bottom: 0;
	left: 0;
    right: 0;
    width:95%;
    height:50%;
    overflow: hidden;
 
}

.container-input p {

    display: block;
    min-height: 30px;
    position: relative;
    overflow: hidden;
    /*background-color: aqua;*/
	top: 0%;
    left: 0%;
    height:100%;
    width:100%;
    min-height: 30px;

    overflow: hidden;
    font-size: 20px;
 
}

/*delivery page table*/
.country_table{
    display: none;

}

.delivery_comment textarea
{
    width: 70%;
    min-width: 200px;
    min-height: 120px;
}

.delivery_comment p
{
    top: 0%;
    left: 0%;
    font-size: 20px;
}

.delivery_submit_btn
{
    position: relative;
    /*transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);*/
    background-color: #555;
    color: green;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    top: 0%;
    left: 50%;
    /*height: 100%;*/
    min-height: 50px;
    max-width: 300px;
    width:80%;
    
}


/*table for consumed dishes profile*/

.consumed_components_table {
    position: relative;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    margin-top: 30px;
    padding: 50px, 10px;
    top: 90%;
    width: 90%;
    left: 5%;
    text-align: left;
    border-collapse: collapse;
    border-radius: 20px;
    box-shadow: 0 0 0 10px  #777;
    color: rgb(0,0,0);
    transition: transform .4s ease-out;
}

.consumed_components_table th {
padding: 10px 8px;
background: white;
}

.consumed_components_table table th:first-child {
border-top-left-radius: 20px;
}

.consumed_components_table table th:last-child {
border-top-right-radius: 20px;
}

.consumed_components_table td {
border-top: 10px solid  #777;
padding: 8px;
background: white;
}

.consumed_components_table td:first-child {
border-bottom-left-radius: 20px;
}

.consumed_components_table td:last-child {
border-bottom-right-radius: 20px;
}


.food_points_stat{

    /*text-align: left;*/
    font-family:  "Open Sans Condensed";
    font-style: italic;
    font-size: 20px;
    color:  #777; 
}


.index_table 
{
    position: relative;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    margin-top: 30px;
    padding: 50px, 10px;
    top: 90%;
    width: 90%;
    left: 5%;
}
/*index 9 sem table*/
.index_table body {
    background: #fafafa url(https://jackrugile.com/images/misc/noise-diagonal.png);
    color: #444;
    font: 100%/30px 'Helvetica Neue', helvetica, arial, sans-serif;
    text-shadow: 0 1px 0 #fff;
}

.index_table strong {
    font-weight: bold; 
}

.index_table em {
    font-style: italic; 
}

.index_table table {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 12px;
    line-height: 24px;
    margin: 30px auto;
    text-align: left;
    width: 800px;
}	

.index_table th {
    background: url(https://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;	
}

.index_table th:after {
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
    content: '';
    display: block;
    height: 25%;
    left: 0;
    margin: 1px 0 0 0;
    position: absolute;
    top: 25%;
    width: 100%;
}

.index_table th:first-child {
    border-left: 1px solid #777;	
    box-shadow: inset 1px 1px 0 #999;
}

.index_table th:last-child {
    box-shadow: inset -1px 1px 0 #999;
}

.index_table td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms;
}

.index_table td:first-child {
    box-shadow: inset 1px 0 0 #fff;
}	

.index_table td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
}	

.index_table tr {
    background: url(https://jackrugile.com/images/misc/noise-diagonal.png);	
}

/* спецэффектыыыыыыыыыы (для таблички)
.index_table tr:nth-child(odd) td {
    background: #f1f1f1 url(https://jackrugile.com/images/misc/noise-diagonal.png);	
}

.index_table tr:last-of-type td {
    box-shadow: inset 0 -1px 0 #fff; 
}

.index_table tr:last-of-type td:first-child {
    box-shadow: inset 1px -1px 0 #fff;
}	

.index_table tr:last-of-type td:last-child {
    box-shadow: inset -1px -1px 0 #fff;
}	

.index_table tbody:hover td {
    color: transparent;
    text-shadow: 0 0 3px #aaa;
}

.index_table tbody:hover tr:hover td {
    color: #444;
    text-shadow: 0 1px 0 #fff;
}
*/





  
